swagger: '2.0'
schemes:
  - http
  - https
host: api.metagrid.ch
basePath: /
info:
  description: |
    This is a brief documentation for the public metagrid API. This part of the API is available without authentification and delivers concordances and serach results from metagrid. Most often you can interact with the api over a client library. Currently there are clients for php and js. The preferred way to integrate the widget is with javascript directly in the frontend.
    # Introduction
      Metgrid is designed to fetch data from different partner websites and API's and let user build concordances between same persons on differet websites. This helps to connect research projects with biographical data in a federative way. Metagid is not an normativ autority, it's just a repository of connection between different providers.
    # API
      The API has public and a private accessible endpoints. This documentation just covers the public endpoints and is designed to help developers to integrate the api in theire project.
  version: 2.0.0
  title: api.metagrid.ch
  termsOfService: 'https://www.metagrid.ch/en/code-of-conduct/'
  contact:
    email: info@metagrid.ch
    url: 'https://www.metagrid.ch/ueber-uns/'
  license:
    name: AGPL
    url: 'http://www.apache.org/licenses/LICENSE-2.0.html'
  x-logo:
    url: 'https://www.metagrid.ch/wordpress/wp-content/uploads/metagrid_logo.png'
produces:
  - application/json
  - application/jsonp
consumes:
  - application/json
tags:
  - name: widget
    description: Serves links for a give resource of a provider
  - name: search
    description: Search in metagrid
paths:
  '/widget/{providerSlug}/{entitySlug}/{id}':
    get:
      tags:
        - widget
      parameters:
        - name: providerSlug
          in: path
          description: The slug of the provider
          required: true
          type: string
        - name: entitySlug
          required: true
          in: path
          description: The slug of the entity (person|place|organization)
          type: string
        - name: id
          required: true
          in: path
          description: The identifier of the resource in the providers DB. Most often this is a numeric value
          type: string
        - name: jsoncallback
          in: query
          description: The jsonp callback function
          type: string
        - name: lang
          in: query
          description: 'The language for the result. The result is translated, if the provider added a translation. Otherwise the fallback language is returend'
          type: string
        - name: include
          in: query
          description: Include additional dscription of the provider. This may help to contextualize the link better.
          type: boolean
      summary: Get the concordance for a given resource
      description: |
        Check if there are some partner-links for a given resource of a provider. This request checks if the resource is in a concordance with other resources and delivers links to those resources.
      operationId: getLinksForWidget
      produces:
        - application/jsonp
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/Widget'
          examples:
            application/json:
              username: user1
              email: user@example.com
        '404':
          description: No concordance found. So no links to deliver
        '500':
          description: Internal error
  '/search/{entitySlug}':
    get:
      tags:
        - search
      summary: Search in the metagrid DB
      description: Full text search in the metagrid Database. The search is limited to the text value of the index.
      operationId: search
      parameters:
        - name: entitySlug
          in: path
          required: true
          description: The slug of the entity (person|place|organization)
          type: string
        - name: query
          in: query
          description: A query to search in the DB
          type: string
        - name: provider
          in: query
          type: string
          description: limit the serach to a provider
        - name: take
          description: Limit the resultset of a number of results
          in: query
          type: integer
        - name: group
          description: Group the results acording to thier concordance number. You will get a list of concordances
          in: query
          type: boolean
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/SearchResult'
definitions:
  Links:
    description: A link object returned by the server
    type: object
    properties:
      url:
        type: string
      short_description:
        type: string
      long_description:
        type: string
  Widget:
    description: A collection of links corresponding to vthe requested resource
    type: object
    properties:
      providerSlug:
        $ref: '#/definitions/Links'
  SearchResult:
    description: A searchresult
    type: array
    items:
      $ref: '#/definitions/SearchObject'
  SearchObject:
    description: A singel search result
    type: object
    properties:
      meta:
        type: object
        properties:
          total:
            description: Total number of results
            type: integer
          limit:
            description: Limit of the results
            type: integer
          start:
            description: Start of the current fetch
            type: integer
          uri:
            description: Current uri
            type: string
      concordances:
        type: array
        items:
          $ref: '#/definitions/Concordance'
  Concordance:
    description: A concordance is a group of resources from different providers
    type: object
    properties:
      id:
        type: integer
      name:
        type: string
      resources:
        type: array
        items:
          $ref: '#/definitions/Resource'
  Resource:
    description: The definition of a resource with their metadata
    type: object
    properties:
      _type:
        type: string
      id:
        type: integer
      uri:
        type: string
      identifier:
        type: string
      concordance:
        type: object
        properties:
          id:
            type: integer
          uri:
            type: string
      provider:
        type: object
        properties:
          slug:
            type: string
          uri:
            type: string
      link:
        type: object
        properties:
          rel:
            type: string
          uri:
            type: string
      metadata:
        $ref: '#/definitions/Metadata'
  Metadata:
    description: The extracted metadata of a resource
    type: object
    properties:
      first_name:
        type: string
      last_name:
        type: string
      name:
        type: string
      birth_date:
        type: string
      death_date:
        type: string
